body{
    background:rgb(255, 182, 219);
    margin:0px;
}
.header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top:0;
    padding: 0px 10px;
    height: 50px;
    background:rgb(243, 111, 170);

}
.header a{
    color: rgb(255, 237, 246); 
    margin: 0px 10px;
}