<h1 class="page-header">Реактивная форма</h1>
<div class="content">
    <table>
        <caption>Котята</caption>
        <tr>
            <th>Имя</th>
            <th>Пол</th>
            <th>Дата рождения</th>
            <th>Возраст (мес.)</th>
            <th>Порода</th>
            <th>Время создания</th>
        </tr>
        <tr *ngFor="let k of kittens | reverse: {isIncreasingAge:false, isNameUppercase:true}">
            <td>{{k.name}}</td>
            <td>{{k.gender}}</td>
            <td class="age">{{k.birthday| date: "dd.MM.yyyy"}}</td>
            <td class="age">{{k.age}}</td>
            <td>{{k.type}}</td>
            <td>{{k.dateOfCreation | date: "dd.MM.yyyy hh:mm:ss"}}</td>
        </tr>
    </table>

    <div class="form">
        <h2>Добавить нового котёнка:</h2>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            
            <label for="name">Имя*:</label>
            <input class="pink-input" type="text" id="name" name="name" formControlName="name"> <br>
        
            <div class="invalid-field-warning" *ngIf="myForm.controls['name'].invalid && myForm.controls['name'].touched">
                Не указано имя!
            </div>
        
            <div style="margin:10px 0px;">
                <label for="girl">Пол*:</label>
                <input type="radio" formControlName="gender" id="girl" name="gender" value="Девочка">
                <label for="girl">Девочка</label>
                <input type="radio" formControlName="gender" id="boy" name="gender" value="Мальчик">
                <label for="boy">Мальчик</label> <br>
            </div>
            <div class="invalid-field-warning" *ngIf="myForm.controls['gender'].invalid && myForm.controls['gender'].touched">
                Не указан пол!
            </div>

            <label for="birthday">День рождения:</label>
            <input class="pink-input" type="date" id="birthday" name="birthday" formControlName="birthday"><br>
        
            <label for="type">Порода:</label>
            <input class="pink-input" type="text" id="type" name="type" formControlName="type" placeholder="Беспородная"> <br>
            <div>* - обязательные поля</div>
            <button class="submit-button" type="submit" [disabled]="myForm.invalid">Отправить</button>
        </form>
        
    </div>
</div>